thead{
	background-color: grey;
}
tbody {
	background-color: #369;
	text-align: center;
	color: #99f;
	font-style: italic;
	}
	/* Why does this make my round image not work?
#album{
	background: url("https://upload.wikimedia.org/wikipedia/en/d/d4/Iron-ep-by-woodkid.jpg") no-repeat;
	background-position: center;
}
*/
h2{
	font-family: "Helvetica", sans-serif;
	text-align: center;
	font-weight: bold;
}
li{
	font-family: "cursive";
	font-style: italic;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: #369;
}
a:hover{
	text-decoration: underline;
	color: #fff;
	background-color: red;
}
