#header{
	text-align: center;
	background-color: #003366;
	color: #ffffff;
	font-family: cursive;
}

.footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #003366;
	color: #fff;
}

#nav{
	background-color: #69c;
}

body{
	background-color: #69C;
}

a:link{color: black;}
	a:visited{color: #fff;}
	a:hover{font-weight: bold;}
	a:active{text-decoration: none;}

.jumbotron{
	text-align: center;
}